CDS { 
    fill_color: #2222bb;
    fill_alpha: 0.7;
    line_width: 0.0;
    line_color: #222222;
    height: 0.6;
    z: 16;
}

other-rna, mRNA, transposable-element { 
    fill_color: #00ff00;
    fill_alpha: 0.4;
    line_width: 0.0;
    line_color: #0000ff;
    height: 0.58;
    z: 12;
}

snrna {
    fill_color: #aaa0fc;
    fill_alpha: 0.4;
    line_color: #0000ff;
    height: 0.5;
    z:20;
    line_width: 1.0;
}


HSP {
    fill_color: #0000ff;
    fill_alpha: 0.8;
    line_width: 0.00;
    line_color: #000000;
    height: 0.5;
    z: 20;
}

gene { 
    fill_color: #000000;
    fill_alpha: 0.7;
    line_width: 1.0;
    line_color: #ffffff;
    height: 0.62;
    z:0;
    arrow_len: 0.05;
}


intron {
    glyph: caret;
}


exon { fill_color: #00ff00;
    fill_alpha: 0.8;
    line_width: 0.0;
    line_color: #0000ff;
    height: 0.1;
    z: 2;
}

five_prime_UTR, three_prime_UTR { 
    fill_color: #0000ff;
    fill_alpha: 0.8;
    line_width: 0.0;
    line_color: #0000ff;
    height: 0.7;
    z: 5;
}

plot_line {
    line_color: #0000ff;
    line_width: 3.0;
}
